* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right bottom, #ea2c62, #120078);
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    cursor: pointer;
}

.wrapper {
    width: 400px;
    background: white;
    background-size: cover;
    border-radius: 10px;
}

.header{
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    font-weight: 500;
    border-bottom: 1px solid #bfbfbf;
    color: #5140b3;
}

.header .icon{
    cursor: pointer;
    display: none;
}

.icon{
    padding-right: 10px;
    font-size: 25px;
    color: #5140b3;
}

.location{
    margin: 20px 30px;
}

.location__input, .location__button{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 10px;
}

.location__input{
    text-align: center;
    border: 1px solid #bfbfbf;
}

.location__input:focus{
    border: 2px solid #5140b3;
}

.location__button{
    background:  #5140b3;
    color: white;
}

.location .line{
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location .line::after{
    content: "or";
    background: white;
    padding: 0 15px;
    color: #ccc;
}

.weather{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather__icon{
    max-width: 110px;
}

.weather__temp{
    display: flex;
    font-size: 70px;
    font-weight: 500;
    justify-content: center;
}

.weather__descr{
    font-size: 20px;
    text-align: center;
    margin: 15px 20px;
}

.weather__location{
    font-size: 20px;
    margin-bottom: 10px;
}

.weather__details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-top: 1px solid #bfbfbf;
}

.column{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

.feels-like{
    border-right: 1px solid #bfbfbf;
}

.feels-like, .humidity{
    font-size: 18px;
    font-weight: 500;
}

.hide {
    display: none;
}


